<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anunciar</title>
</head>
<body>
    <h1>Site de Anuncios</h1>
    <td><a th:href="@{cadastroProduto}">Cadastrar</a></td>
    <table>
        <tr th:each="Anunciar: ${postagemList}">
            <td th:Text="${Anunciar.id}"></td>
            <td th:Text="${Anunciar.produto}"></td>
            <td th:Text="${Anunciar.descricao}"></td>
            <td th:Text="${Anunciar.valor}"></td>
            <td><a th:href="@{'editarPage/'+${Anunciar.id}">Editar</a></td>
            <td><a th:href="@{'deletarPage/'+${Anunciar.id}">Deletar</a></td>



        </tr>
    </table>
</body>
</html>