<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anunciar</title>
</head>
<body>
    <h1>Site de Anuncios</h1>
    <td><a th:href="@{cadastroProduto}">Cadastrar</a></td>
    <table>
        <tr th:each="anunciar: ${anunciarList}">
            <td th:Text="${anunciar.id}"></td>
            <td th:Text="${anunciar.produto}"></td>
            <td th:Text="${anunciar.descricao}"></td>
            <td th:Text="${anunciar.valor}"></td>
            <td><a th:href="@{'editarPage/'+${anunciar.id}}">Editar</a></td>
            <td><a th:href="@{'deletarPage/'+${anunciar.id}}">Deletar</a></td> 



        </tr>
    </table>
</body>
</html>